		
		


		<!-- Footer Section -->
		<section id="footer-section" class="footer-section space-200-top-bottom">
			<div class="container">
				<div class="row">
					<div class="description columns small-12 medium-6">
						<div class="logo space-75-bottom"><img class="block" src="media/logo-combination-eng.png" style="width: 66.666%;"></div>
						<div class="p space-100-bottom space-200-right">Your ultimate hospitality partner, providing a wide array of products to meet diverse industry needs, including Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, Housekeeping supplies. Specializing in Customized Commercial Kitchens and Turnkey Project Management, to ensure a seamless experience tailored to your specific requirements.</div>
					</div>
					<div class="quicklinks columns small-12 medium-3">
						<div class="h4 font-h strong space-50-top space-25-bottom">Quick Links</div>
						<a href="#welcome" class="link p inline text-blue-light space-25-bottom">Welcome</a><br>
						<a href="#hotels" class="link p inline text-blue-light space-25-bottom">Hotels</a><br>
						<a href="#restaurant" class="link p inline text-blue-light space-25-bottom">Restaurant</a><br>
						<a href="#bakery" class="link p inline text-blue-light space-25-bottom">Bakery</a><br>
						<a href="#catering" class="link p inline text-blue-light space-25-bottom">Catering</a><br>
						<a href="#cta-section" class="link p inline text-blue-light space-25-bottom">Call Back</a><br>
					</div>
					<div class="connections columns small-12 medium-3">
						<div class="h4 font-h strong space-50-top space-25-bottom">Get In Touch</div>
						<a target="_blank" href="mailto:info@bgc.in" class="link p inline text-blue-light space-25-bottom">info@bgc.in</a><br>
						<a target="_blank" href="tel:08041784600" class="link p inline text-blue-light space-25-bottom">080-4178-4600</a><br>
						<!-- <div class="h4 font-h strong space-50-top space-25-bottom">Socials</div> -->
						<!-- <a target="_blank" href="" class="link social p inline text-blue-light space-25-bottom" style="background-image: url('/media/icon-linkedin.png');">Linked In</a> -->
						<!-- <a target="_blank" href="" class="link social p inline text-blue-light space-25-bottom" style="background-image: url('/media/icon-instagram.png');">Instagram</a> -->
						<!-- <a target="_blank" href="" class="link social p inline text-blue-light space-25-bottom" style="background-image: url('/media/icon-facebook.png');">Facebook</a> -->
						<!-- <a target="_blank" href="" class="link social p inline text-blue-light space-25-bottom" style="background-image: url('/media/icon-twitter.png');">Twitter - X</a> -->
						<!-- <a target="_blank" href="" class="link social p inline text-blue-light space-25-bottom" style="background-image: url('/media/icon-youtube.png');">YouTube</a> -->
						<div class="h4 font-h strong space-50-top space-25-bottom">Location</div>
						<a target="_blank" href="https://maps.app.goo.gl/VEVbq6kHabw4rLna7" class="link p inline text-blue-light space-25-bottom">A M Industrial Estate, 7th Mile Hosur Rd, Garvebhavi Palya, Bengaluru, Karnataka 560068</a><br>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Footer Section -->




		<!-- Copyright Section -->
		<section class="copyright-section space-25-top-bottom" id="copyright-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h6 font-h strong">Copyright &copy; 2024 – Bharat Glass & Crockeries | All Rights Reserved</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Copyright Section -->




