<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />

	<title>{{ title | default: 'EaseGlobal' }}</title>
    <base href="/">
	
	<!-- Metadata -->
	<!-- Short description of the document (limit to 150 characters) -->
	<!-- This content *may* be used as a part of search engine results. -->
	<meta name="description" content="Immigrate from India to abroad with EaseGlobal. We undertake immigration, global incorporation, and brand consulting. Our expert services ensure smooth immigration transitions, investment visas, employment visas, offering tailored solutions for individuals and businesses. Navigate visa processes, company formations, and brand strategies effortlessly. Trust us to unlock opportunities and facilitate your global journey with ease.">

	<!-- Authors -->
	<!-- Links to information about the author(s) of the document -->
	<meta name="author" content="EaseGlobal">
	<link rel="author" href="humans.txt">

	<!-- SEO -->
	<!-- Control the behavior of search engine crawling and indexing -->
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="media/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="media/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="media/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="media/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="media/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="media/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="media/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="media/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="media/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="media/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png">
	<link rel="manifest" href="media/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#444444">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

	<!-- ~ iOS ~ -->
	<!-- Disable automatic detection and formatting of possible phone numbers -->
	<meta name="format-detection" content="telephone=no">
	<!-- Launch Screen Image -->
	<!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
	<!-- Launch Icon Title -->
	<meta name="apple-mobile-web-app-title" content="{{ title | default: 'EaseGlobal' }}">
	<!-- Enable standalone (full-screen) mode -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
	<meta name="apple-mobile-web-app-status-bar-style" content="default">

	<!-- ~ Android ~ -->
	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">
	<!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->

	<!-- Social -->
	<!-- Facebook Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title | default: 'EaseGlobal' }}">
	<meta property="og:description" content="Immigrate from India to abroad with EaseGlobal. We undertake immigration, global incorporation, and brand consulting. Our expert services ensure smooth immigration transitions, investment visas, employment visas, offering tailored solutions for individuals and businesses. Navigate visa processes, company formations, and brand strategies effortlessly. Trust us to unlock opportunities and facilitate your global journey with ease.">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">

	<!-- Schema.org / Google+ -->
	<meta itemprop="name" content="{{ title | default: 'EaseGlobal' }}">
	<meta itemprop="description" content="Immigrate from India to abroad with EaseGlobal. We undertake immigration, global incorporation, and brand consulting. Our expert services ensure smooth immigration transitions, investment visas, employment visas, offering tailored solutions for individuals and businesses. Navigate visa processes, company formations, and brand strategies effortlessly. Trust us to unlock opportunities and facilitate your global journey with ease.">
	<meta itemprop="image" content="">

	<!-- Stylesheet -->
	<!-- Base -->
	<link rel="stylesheet" type="text/css" href="css/1_normalize.css">
	<link rel="stylesheet" type="text/css" href="css/2_base.css">
	<link rel="stylesheet" type="text/css" href="css/3_grid.css">
	<link rel="stylesheet" type="text/css" href="css/4_helper.css">
	<link rel="stylesheet" type="text/css" href="css/5_stylescape.css">

	<!-- Modules -->
	<link rel="stylesheet" type="text/css" href="css/modules/video-embed.css">
	<link rel="stylesheet" type="text/css" href="css/modules/modal-box.css">

	<!-- Pages + Sections + Modals -->
	<link rel="stylesheet" type="text/css" href="css/pages/page.css">
	<link rel="stylesheet" type="text/css" href="css/pages/home.css">
	<link rel="stylesheet" type="text/css" href="css/pages/modal/modal-menu.css">
	<link rel="stylesheet" type="text/css" href="css/pages/section/sample-section.css">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Typing JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
	<!-- Smooth Scroll JS -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jump.js/dist/jump.min.js"></script> -->
</head>

<body class="body" id="body">

<!--  ★  MARKUP GOES HERE  ★  -->

<div id="page-wrapper"><!-- Page Wrapper -->

	<!-- Navigation -->

	<div id="page-content"><!-- Page Content -->


		<!-- Announcement Section -->
		<section id="announcement" class="announcement fill-blue-dark">
			<div class="">
				<div class="row">
					<a href="#business-intro" class="columns small-12 space-50-top-bottom text-center cursor-pointer">
						<div class="p">Register a Business Abroad, End-to-end Service</div>
					</a>
				</div>
			</div>
		</section>
		<!-- END: Announcement Section -->




		<style type="text/css">
			.menu-section {
				position: fixed;
				z-index: 11;
				bottom: var(--space-100);
				left: 0;
				right: 0;
				height: auto;
				transform: scale(1.05);
			}

			.menu-section .menu {
				backdrop-filter: blur(5px);
				background-color: rgba(255, 255, 255, 0.55);
				box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.2), 0 0 var(--space-200) 0px rgba(0, 102, 255, 0.4);
			}
			.menu-section .menu .menu-button label {
				text-align: center;
			}

			.menu-section .menu .menu-check:checked + .menu-button label {
				transition: .375s .125s ease-out;
				background-color: transparent;
				color: var(--blue-dark);
			}

			@media( min-width: 640px )  {
				.menu-section .menu .menu-button label {
					padding: var(--space-50) var(--space-25)
				}
			}
			@media( min-width: 1040px ) {}
			@media( min-width: 1480px ) {}
		</style>
		<!-- Menu -->
		<section id="menu" class="menu-section">
			<div class="row">
				<div class="menu container space-min radius-25">
					<div class="columns small-12 space-25 show-small-block hidden"><a href="tel:+919740711696" class="h3 block strong text-blue text-center cursor-pointer space-min">+91-97407-11696</a></div>
					<input class="menu-check hidden" type="radio" name="menu" id="menu_im" checked="">
					<div class="menu-button columns small-4 space-min">
						<label for="menu_im" class="js_menu block cursor-pointer h6 strong fill-blue space-25-left-right space-25-top-bottom radius-25" for="imcalc_us" style="background-image: url('media/flag-us.png');">Immigrate Abroad</label>
						<a href="#immigration-intro" class="hidden"></a>
					</div>
					<input class="menu-check hidden" type="radio" name="menu" id="menu_bi">
					<div class="menu-button columns small-4 space-min">
						<label for="menu_bi" class="js_menu block cursor-pointer h6 strong fill-blue-dark space-25-left-right space-25-top-bottom radius-25" for="imcalc_us" style="background-image: url('media/flag-us.png');">Register Business</label>
						<a href="#business-intro" class="hidden"></a>
					</div>
					<input class="menu-check hidden" type="radio" name="menu" id="menu_bc">
					<div class="menu-button columns small-4 space-min">
						<label for="menu_bc" class="js_menu block cursor-pointer h6 strong fill-yellow space-25-left-right space-25-top-bottom radius-25" for="imcalc_us" style="background-image: url('media/flag-us.png');">Business Services</label>
						<a href="#consultation-intro" class="hidden"></a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Menu -->



		<!-- Header Section -->
		<section id="header_section" class="header-section position-relative" style="box-shadow: 0 0 0 1px var(--neutral-2), 0 0 5px 1px var(--neutral-3); z-index: 9;">
			<div class="container">
				<div class="row space-75-top-bottom">
					<div class="logo columns small-8 medium-5 large-3 inline-middle" style="font-size: 0;">
						<a class="inline-block" href="/">
							<img class="block" src="media/logo-color.png">
						</a>
					</div>
					<div class="logo columns small-4 medium-7 large-9 text-right inline-middle hide-small">
						<a href="tel:+919740711696" class="text-blue h2 strong">+91-97407-11696</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Header Section -->
		