{% include 'parts/head.liquid' %}



	<!-- Catalogue -->		
	<div class="catalogue fill-light">
		<div class="controls row">
			<div class="header space-100-top space-100-left-right">
				<div class="mascot inline-middle"><img src="media/clippy.png" alt=""></div>
				<div class="message inline-middle">
					<div class="h5 strong text-blue">Welcome to our Smart Catalogue!</div>
				</div>
			</div>
			<div class="filter space-50-top space-100-bottom space-100-left-right">
				<div class="heading p space-25 text-blue-light">Choose your categories:</div>
				<ul class="filter-tabs space-min">
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Plates</span>
						</label>
					</li>
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Cups</span>
						</label>
					</li>
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Spoons</span>
						</label>
					</li>
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Forks</span>
						</label>
					</li>
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Pots</span>
						</label>
					</li>
					<li>
						<label class="pill inline">
							<input type="checkbox" name="" class="hidden">
							<span class="title p inline cursor-pointer">Pans</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="listing">
			<ul>
				<li class="category-list carousel">
					<ul class="carousel-list">
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 1</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 2</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 3</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 4</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 5</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 6</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 7</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 8</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 9</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Cup 10</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="category-list carousel">
					<ul class="carousel-list">
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 1</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 2</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 3</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 4</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 5</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 6</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 7</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 8</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 9</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Fork 10</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="category-list carousel">
					<ul class="carousel-list">
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 1</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 2</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 3</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 4</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 5</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 6</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 7</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 8</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 9</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
						<li class="item carousel-list-item">
							<div class="card">
								<div class="thumbnail"></div>
								<div class="title p">Pan 10</div>
								<div class="spec">16 inches</div>
								<div class="price">&#8377;.24.50/-</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="cart row fill-white space-50">
			<div class="total h4 strong font-h">Total: ₹ 4,82,529/-</div>
			<div class="items p strong font-h text-neutral-5">Total Items: 20</div>
			<div class="units p strong font-h text-neutral-5">Total Units: 500</div>
			<a href="https://google.com" target="_blank" class="action button fill-orange text-white">Get Offer</a>
		</div>
		<div class="download row fill-orange space-75">
			<input type="checkbox" id="catDownloadMin" class="download-toggle hidden">
			<label for="catDownloadMin" class="minimise">Minimise</label>
			<div class="action columns small-9">
				<div class="h4 font-h strong">Complete Catalogue</div>
				<div class="p space-25-top space-150-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
				<a href="https://google.com" target="_blank" class="button fill-white text-orange">Download Now</a>
			</div>
		</div>
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
		<!-- <div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div> -->
	</div>
	<!-- End: Catalogue -->



{% include 'parts/foot.liquid' %}
