{% include 'parts/header.liquid' %}



	<!-- Catalogue -->		
	<div class="catalogue fill-light">
		<div class="controls"></div>
		<div class="listing"></div>
		<div class="cart row fill-white space-50">
			<div class="total h4 strong font-h">Total: ₹ 4,82,529/-</div>
			<div class="items p strong font-h text-neutral-5">Total Items: 20</div>
			<div class="units p strong font-h text-neutral-5">Total Units: 500</div>
			<a href="https://google.com" target="_blank" class="action button fill-orange text-white">Get Offer</a>
		</div>
		<div class="download row fill-orange space-75">
			<input type="checkbox" id="catDownloadMin" class="download-toggle hidden">
			<label for="catDownloadMin" class="minimise">Minimise</label>
			<div class="action columns small-9">
				<div class="h4 font-h strong">Complete Catalogue</div>
				<div class="p space-25-top space-150-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
				<a href="https://google.com" target="_blank" class="button fill-white text-orange">Download Now</a>
			</div>
		</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
		<div class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quaerat officiis dolorum dolore, voluptates accusantium quisquam suscipit libero repudiandae ea, error ex enim beatae, temporibus velit, id est commodi! Quidem!</div>
	</div>
	<!-- End: Catalogue -->



{% include 'parts/footer.liquid' %}
