{% include 'parts/header.liquid' %}


		<!-- Consultation Intro -->
		<div id="consultation-intro" class="consultation-intro fill-yellow">
			<div class="container">
				<div class="row">
					<div class="intro columns small-12 medium-6 large-5 xlarge-4 space-200-top">
						<div class="h1 strong">Transform <br>your business</div>
						<div class="h3 strong">with <span class="js-consultation-text text-blue"></span></div>
						<div class="h3 strong space-25-bottom">at Unbeatable Prices</div>
						<!-- <a class="button fill-blue" href="#">View Price</a> -->
						<!-- <div class="small text-blue space-50-top">* Terms & Conditions Apply</div> -->
						<div class="h5 space-25-bottom" ><span class="strong text-blue">whatsapp</span> or <span class="strong text-blue">call</span> on</div>
						<a target="_blank" href="https://wa.me/8971683598?text=I'm%20interested%20in%20Business%20Consultation" class="h2 inline space-75-bottom strong text-blue">+91-89716-83598</a>
					</div>
					<div class="consultation-services columns small-12 medium-6 large-7 xlarge-7 xlarge-offset-1  space-200-top-bottom">
						<div class="row">
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/logo-design.jpeg');">Logo Design</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/brand-design.jpeg');">Brand Design</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/package-design.jpeg');">Package Design</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/website-design.jpeg');">Website Design</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/e-commerce-seo.jpeg');">E-commerce SEO</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/product-photography.jpeg');">Product Photography</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/brand-photography.jpeg');">Brand Photography</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/event-photography.jpeg');">Event Photography</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/social-media.jpeg');">Social Media</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/merchandise-design.jpeg');">Merchandise Design</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/corporate-film.jpeg');">Corporate Film</div>
							</div>
							<div class="columns small-12 large-6 space-25-top-bottom">
								<div class="service-card h4 strong uppercase space-50 radius-25" style="background-image: url('/media/corporate-podcast.jpeg');">Corporate Podcast</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Consultation Intro -->
		<script>
			var typing=new Typed(".js-consultation-text", {
				strings: ["", "Logo Design", "Brand Design", "Package Design", "Website Design", "E-commerce SEO", "Product Photography", "Brand Photography", "Event Photography", "Corporate Film", "Corporate Podcast", "Social Media", "Instagram Filters",  "Merchandise Design", "Keyword Copywriting"],
				typeSpeed: 100,
				backSpeed: 40,
				loop: true,
			});
		</script>



		<!-- Sample Section -->
		<section id="sample_section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->



{% include 'parts/footer.liquid' %}
