{% include 'parts/header.liquid' %}



		<!-- Immigration Intro -->
		<div id="immigration-intro" class="immigration-intro" style="background-image: url('media/immigration-intro-background.jpg');">
			<div class="container">
				<div class="row">
					<div class="intro columns small-12 medium-8 space-200-top">
						<div class="h1 strong">Get Settled</div>
						<div class="h2 strong">in <span class="js-immigration-text text-blue"></span></div>
						<div class="h2 strong space-25-bottom">within 30days</div>
						<a class="button fill-blue" href="#immigration-feature">View Price</a>
						<div class="small text-blue space-50-top">* Terms & Conditions Apply</div>
					</div>
					<div class="intro-video fill-blue">
						<div class="video-embed video-embed-bg" style="z-index: 1; filter: opacity(85%);">
							<iframe src="https://www.youtube-nocookie.com/embed/NdbArMsB8so?playlist=NdbArMsB8so&html5=1&color=white&disablekb=1&fs=0&autoplay=1&loop=1&modestbranding=1&playsinline=1&rel=0&showinfo=0&enablejsapi=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration Intro -->
		<script>
			var typing=new Typed(".js-immigration-text", {
				strings: ["", "United States (USA)", "United Kingdom (UK)", "Singapore (SG)", "Isle of Man (IM)", "Portugal (PT)", "Spain (ES)"],
				typeSpeed: 100,
				backSpeed: 40,
				loop: true,
			});
		</script>


		<!-- Immigration Quiz -->
		<div id="immigration-quiz" class="immigration-quiz fill-blue">
			<div class="container">
				<div class="row">
					<div class="columns small-12 space-150-top-bottom text-center">
						<div class="p space-50-bottom">Find the right Visa Application for you!</div>
						<a href="" class="h4 strong space-50-top-bottom space-75-left-right fill-yellow inline radius-min cursor-pointer" style="box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.25), 0 0 var(--space-100) 0px rgba(0, 102, 255, 0.25);">Take the FREE Eligibility Quiz</a>
						<div class="label text-uppercase space-50-top">Click Here</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration Quiz -->


		<!-- Immigration Feature -->
		<div id="immigration-feature" class="immigration-feature space-200-top space-75-bottom">
			<div class="container">
				<div class="row">
					<div class="description columns small-9 small-offset-1 medium-5 medium-offset-0 large-6 xlarge-5">
						<div class="h1 strong"><span class="text-blue">Immigrate</span> to the country of your choice</div>
						<div class="h3 strong text-blue space-min-top" style="line-height: 1.35;">for less than the cost of an <span class="text-underline">international holiday!</span></div>
						<div class="p space-75-top-bottom text-neutral-4">Unlock your dreams of global living affordably. Discover visa options to your dream destination at a fraction of international travel costs. Streamline your immigration process with unbeatable affordability & efficiency.</div>
					</div>
					<div class="calculator columns small-12 medium-offset-1 medium-6 large-5 xlarge-6 space-50">
						<div class="p space-25 text-uppercase">Select A Country</div>
						<div class="country-selector">
							<!-- US Details -->
								<input class="hidden" name="imcalc" id="imcalc_us" type="radio" checked="checked">
								<label class="inline" for="imcalc_us" style="background-image: url('media/flag-us.png');">US</label>
								<div class="details">
									<div class="h2 strong text-blue">United States</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹7,90,000/-</span></div>
									<div class="h5 strong space-75-top">Living in the USA:</div>
									<div class="p">Immerse in the USA's innovation and diversity. Find a place for yourself within USA’s iconic cities and vast landscapes.</div>
									<div class="h3 strong space-75-top">USA Immigration Opportunities</div>
									<div class="p strong space-50-top">Investment Visas</div>
									<ul class="space-min-top">
										<li class="p">NIW green card, E-2, EB-5.</li>
									</ul>
									<div class="p strong space-50-top">Employment Based Visas with Green Card</div>
									<ul class="space-min-top">
										<li class="p">EB-1, EB-2, EB-2 (NIW), EB-3.</li>
									</ul>
									<div class="p strong space-50-top">Humanitarian Visas</div>
									<ul class="space-min-top">
										<li class="p">Asylum, Victims of Abuse, T Visas.</li>
									</ul>
									<div class="p space-50-top space-150-bottom">Unlock the gateway to opportunity. Find the quickest and most affordable path to your immigration.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</div>
							<!-- END: US Details -->
							<!-- UK Details -->
								<input class="hidden" name="imcalc" id="imcalc_uk" type="radio">
								<label class="inline" for="imcalc_uk" style="background-image: url('media/flag-uk.png');">UK</label>
								<div class="details">
									<div class="h2 strong text-blue">United Kingdom</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹5,50,000/-</span></div>
									<div class="h5 strong space-75-top">Living in the UK:</div>
									<div class="p">Embrace the UK's history and cultural tapestry. Kickstart your life within dynamic cities and stunning countryside.</div>
									<div class="h3 strong space-75-top">UK Immigration Opportunities</div>
									<div class="h5 strong space-50-top">Self Sponsorship Visa</div>
									<ul class="space-50-top">
										<li class="p">Apply for UK settlement (ILR) after 5 years</li>
									</ul>
									<div class="h5 strong space-50-top">Intra-Company Transfer Visa (ICT)</div>
									<ul class="space-50-top">
										<li class="p">Can be joined by a dependent partner over 18 and/or dependent children under 18.</li>
									</ul>
									<div class="p space-50-top space-150-bottom">Discover your British adventure. Find the quickest and most affordable path to your immigration.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</div>
							<!-- END: UK Details -->
							<!-- SG Details -->
								<input class="hidden" name="imcalc" id="imcalc_sg" type="radio">
								<label class="inline" for="imcalc_sg" style="background-image: url('media/flag-sg.png');">SG</label>
								<div class="details">
									<div class="h2 strong text-blue">Singapore</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹15,00,000/-</span></div>
									<div class="h5 strong space-75-top">Living in Singapore:</div>
									<div class="p">Experience Singapore's global hub status and cultural fusion. Anchor abode Singapore’s culinary delights and lush greenery.</div>
									<div class="h3 strong space-75-top">Singapore Immigration Opportunities</div>
									<ul class="space-50-top">
										<li class="p">Employment Pass</li>
										<li class="p">EntrePass</li>
										<li class="p">Personalised Employment Pass (PEP)</li>
										<li class="p">S Pass</li>
										<li class="p">Dependent Pass</li>
										<li class="p">Letter of Consent</li>
										<li class="p">Tech Pass</li>
										<li class="p">Overseas Network and Enterprise Pass</li>
										<li class="p">Singapore PR</li>
									</ul>
									<div class="p space-50-top space-150-bottom">Find the quickest and most affordable path to your immigration.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</div>
							<!-- END: SG Details -->
							<!-- IM Details -->
								<input class="hidden" name="imcalc" id="imcalc_im" type="radio">
								<label class="inline" for="imcalc_im" style="background-image: url('media/flag-im.png');">IM</label>
								<div class="details">
									<div class="h2 strong text-blue">Isle of Man</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹4,20,000/-</span></div>
									<div class="h5 strong space-75-top">Living in Isle of Man</div>
									<div class="p">Delight in Isle of Man's scenic beauty and relaxed lifestyle. Establish a haven among Isle of Man’s historic sites and coastal vistas.</div>
									<div class="h3 strong space-75-top">Isle of Man Immigration Opportunities</div>
									<ul class="space-50-top">
										<li class="p">Business Migrant (Start-Up) Visa</li>
										<li class="p">Innovator Visa</li>
										<li class="p">Worker Migrant Visa</li>
									<div class="p space-50-top space-150-bottom">Whether aspiring entrepreneurs seeking to establish their ventures, innovative minds looking to pioneer new ideas, or skilled workers eager to contribute to the local economy, the Isle of Man stands as an attractive destination for those seeking a fulfilling life and promising career opportunities. Discover serenity in the Isle of Man with the most affordable and quickest immigration solution.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</ul></div>
							<!-- END: IM Details -->
							<!-- PT Details -->
								<input class="hidden" name="imcalc" id="imcalc_pt" type="radio">
								<label class="inline" for="imcalc_pt" style="background-image: url('media/flag-pt.png');">PT</label>
								<div class="details">
									<div class="h2 strong text-blue">Portugal</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹3,40,000/-</span></div>
									<div class="h5 strong space-75-top">Living in Portugal</div>
									<div class="p">Find a place for yourself among Portugal's sunny beaches and charming villages. Be one with a nation rich in history and culture.</div>
									<div class="h3 strong space-75-top">Portugal Immigration Opportunities</div>
									<ul class="space-50-top">
										<li class="p">Portuguese Residence Permit</li>
										<li class="p">D2 Visa</li>
									</ul>
									<div class="p space-50-top space-150-bottom">Whether drawn by history, adventure, or a laid-back lifestyle, Portugal offers an inviting haven. for those looking to make it their home. Embracing Portugal's warmth and charm is not only effortless but also promises a fulfilling journey enriched by its unique blend of tradition and modernity. Embrace the warmth of Portugal effortlessly with the fastest and most affordable immigration solution.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</div>
							<!-- END: PT Details -->
							<!-- ES Details -->
								<input class="hidden" name="imcalc" id="imcalc_es" type="radio">
								<label class="inline" for="imcalc_es" style="background-image: url('media/flag-es.png');">ES</label>
								<div class="details">
									<div class="h2 strong text-blue">Spain</div>
									<div class="h5 text-neutral-4">Starting at: <span class="strong text-blue">₹2,90,000/-</span></div>
									<div class="h5 strong space-75-top">Living in Spain</div>
									<div class="p">Indulge in Spain's vibrant culture and lively atmosphere. Get settled in the heart of historic landmarks and a cultural melting pot.</div>
									<div class="h3 strong space-75-top">Spain Immigration Opportunities</div>
									<ul class="space-50-top">
										<li class="p">Self-employed Business Owner</li>
										<li class="p">Non-lucrative (Passive/Retire Income)</li>
										<li class="p">Digital Nomad (Remote Worker)</li>
									</ul>
									<div class="p space-50-top space-150-bottom">Spain has a vibrant tapestry of culture and history to immerse into. With immigration avenues tailored to diverse aspirations like self-employment, retirement, or remote work, it provides a great base for those seeking to call it home. Dive into the spirit of Spain seamlessly with the quickest and most cost-effective path to immigration.</div>
									<a href="#immigration-lead" class="button block fill-blue">Register Now</a>
								</div>
							<!-- END: ES Details -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration Feature -->


		<!-- Immigration Lead -->
		<div id="immigration-lead" class="immigration-lead space-75-top space-200-bottom">
			<div class="container">
				<div class="row">
					<div class="columns small-12 medium-4">
						<div class="row">
							<div class="columns small-12 space-75">
								<div class="h1 strong text-blue">15,300+</div>
								<div class="h5 strong">Happy Customers</div>
							</div>
							<div class="columns small-12 space-75">
								<div class="h1 strong text-blue">48 Hours</div>
								<div class="h5 strong">Application Process</div>
							</div>
							<div class="columns small-12 space-75">
								<div class="h1 strong text-blue">99%</div>
								<div class="h5 strong">Success Rate</div>
							</div>
						</div>
					</div>
					<div class="columns small-12 medium-8">
						<div class="heading space-75">
							<div class="h1 space-50-bottom text-blue"><span class="strong text-dark">Unlock Your Path to Success:</span> Discover New Opportunities</div>
							<div class="h6 space-75-bottom" style="width: 66.666%;">Complete the form below to explore immigration options and begin your journey.</div>
						</div>
						<div class="form-box fill-blue radius-25 space-50" style="box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.2), 0 0 var(--space-200) 0px rgba(0, 102, 255, 0.3);">
							<!-- https://docs.google.com/forms/d/e/1FAIpQLScwVGA7s0ndpD6lX7rQNbFu0yQvPlEZrwwYYkqmebG2FJFR2g/viewform?usp=sf_link -->
							<!-- <form action="https://formspree.io/f/xwkgbone" method="POST"> -->
							<form id="egImmigrationLeads" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScwVGA7s0ndpD6lX7rQNbFu0yQvPlEZrwwYYkqmebG2FJFR2g/formResponse" method="POST" enctype="multipart/form-data">
							<div class="row">
								<div class="columns small-12 space-25">
									<div class="h4">Tell Us About Yourself:</div>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Full Name <span class="text-yellow">*</span></span>
										<!-- <input type="text" name="egim_fullname" required class="input-field block"> -->
										<input type="text" name="entry.919331376" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Email ID <span class="text-yellow">*</span></span>
										<!-- <input type="text" name="egim_emailid" required class="input-field block"> -->
										<input type="text" name="entry.124880939" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Phone Number <span class="text-yellow">*</span></span>
										<!-- <input type="text" name="egim_phonenumber" required class="input-field block"> -->
										<input type="text" name="entry.775285260" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Immigration Country</span>
										<!-- <input type="text" name="egim_country" class="input-field block"> -->
										<!-- <select name="egim_country" class="input-field block"> -->
										<select name="entry.696551209" class="input-field block">
											<option value="blank" disabled="disabled" selected="selected">Select</option>
											<option value="United States (USA)">United States (USA)</option>
											<option value="United Kingdom (UK)">United Kingdom (UK)</option>
											<option value="Singapore (SG)">Singapore (SG)</option>
											<option value="Isle of Man (IM)">Isle of Man (IM)</option>
											<option value="Portugal (PT)">Portugal (PT)</option>
											<option value="Spain (ES)">Spain (ES)</option>
										</select>
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Purpose</span>
										<!-- <input type="text" name="egim_purpose" class="input-field block"> -->
										<input type="text" name="entry.677688100" class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Timeline</span>
										<!-- <input type="text" name="egim_timeline" class="input-field block"> -->
										<!-- <select name="egim_timeline" class="input-field block"> -->
										<select name="entry.933009677" class="input-field block">
											<option value="blank" disabled="disabled" selected="selected">Select</option>
											<option value="1 Month">1 Month</option>
											<option value="3 Month">3 Month</option>
											<option value="6 Month">6 Month</option>
											<option value="12 Month">12 Month</option>
										</select>
									</label>
								</div>
								<div class="columns small-12 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min invisible">Submit</span>
										<button class="button fill-yellow block" type="submit">Start your Journey</button>
									</label>
								</div>
							</div>
							</form>
						</div>
						<div class="whatsapp text-center space-75">
							<div class="h5 space-25-bottom" >or <span class="strong" style="color: #19C520;">whatsapp</span> us on</div>
							<a target="_blank" href="https://wa.me/9740711696?text=I'm%20interested%20in%20Immigration" class="h2 inline space-75-bottom strong" style="color: #19C520;">+91-97407-11696</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration Lead -->


		<!-- Immigration Testimonial -->
		<div id="immigration-testimonial" class="immigration-testimonial hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- content -->
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration Testimonial -->


		<!-- Immigration FAQs -->
		<div id="immigration-faqs" class="immigration-faqs fill-neutral-1 space-200-top-bottom">
			<div class="container">
				<div class="row">
					<div class="heading columns small-12 large-4 xlarge-3">
						<div class="h1 space-min-bottom text-blue strong">Immigration FAQs</div>
						<div class="h4 space-75-bottom">The more you know...</div>
					</div>
					<div class="faqs columns small-12 large-8 xlarge-offset-1">
						<div class="faq">
							<input id="faq-3901" type="radio" name="faq" class="visuallyhidden" checked="">
							<label for="faq-3901" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">1. What are the different types of visas available for immigration?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>There are various types of visas available for immigration, including investment visas, employment-based visas, humanitarian visas, self-sponsorship visas, and digital nomad visas, each serving different purposes and eligibility criteria.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3902" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3902" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">2. Which countries offer investment visas for immigrants?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Several countries, including the USA, UK, Portugal, and Spain, offer investment visas for immigrants who wish to start a business or invest money in the country's economy. These visas often require a minimum investment threshold and specific conditions.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3903" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3903" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">3. What are the eligibility requirements for employment-based visas?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Employment-based visas, available in countries like the USA, UK, Portugal, and Spain, typically require applicants to have a certain level of education, job experience, and sponsorship from an employer. The specific requirements may vary depending on the visa category and country.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3904" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3904" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">4. What options exist for humanitarian protection seekers?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Individuals seeking humanitarian protection can explore options such as asylum visas in the USA, UK, Portugal, and Spain. These visas are designed for individuals who have suffered persecution or fear persecution in their home countries due to various reasons such as race, religion, nationality, or political opinion.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3905" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3905" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">5. Which countries offer retirement visas or options for living comfortably?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Portugal and Spain offer retirement visas and non-lucrative visas for individuals who wish to retire or live comfortably in these countries. These visas typically require proof of financial means and may offer benefits such as access to healthcare and residency rights.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3906" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3906" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">6. What are the options for remote workers or digital nomads?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Countries like Portugal and Spain offer specific visas for remote workers or digital nomads who wish to work from these countries. These visas provide flexibility and residence permits for individuals who meet certain income requirements and wish to live and work remotely.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3907" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3907" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">7. What are the investment thresholds for investment visas?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Investment thresholds for investment visas vary depending on the country and visa category. For example, the USA's EB-5 investment visa requires a minimum investment of $1,000,000 or $500,000 in targeted employment areas, while Portugal's D2 visa may have different investment requirements.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3908" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3908" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">8. Can individuals with limited education or job experience apply for visas?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>Yes, individuals with limited education or job experience may still be eligible for certain visas depending on the country's immigration policies and visa categories. It's essential to explore specific visa options and their requirements to determine eligibility.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3909" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3909" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">9. What are the benefits of each type of visa?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>The benefits of each type of visa vary but may include residency rights, work authorization, access to healthcare and education, the ability to start a business, and opportunities for personal and professional growth. It's essential to consider individual circumstances and goals when choosing a visa.</p>
								</div>
							</div>
						</div>
						<div class="faq">
							<input id="faq-3910" type="radio" name="faq" class="visuallyhidden">
							<label for="faq-3910" class="question block row space-25-top-bottom">
								<div class="title columns small-11 space-25-top-bottom">
									<div class="h6 text-blue">10. How can I apply for a visa and what is the application process?</div>
								</div>
								<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
							</label>
							<div class="answer fill-neutral-2 radius-25">
								<div class="p space-50">
									<p>The application process for visas varies depending on the country and visa category. Generally, it involves submitting an application form, supporting documents, attending interviews, and meeting specific requirements outlined by the immigration authorities. It's advisable to seek professional assistance or guidance when applying for a visa to ensure a smooth process.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Immigration FAQs -->



		<!-- Sample Section -->
		<section id="sample_section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->



{% include 'parts/footer.liquid' %}
