{% include 'parts/header.liquid' %}



		<!-- Privacy Section -->
		<section id="privacy_section" class="privacy-section space-200-top-bottom">
			<div class="container">
				<div class="row">
					<div class="columns small-12 medium-10 medium-offset-1 large-8 large-offset-2">
						<div class="h1 strong space-75-bottom">Privacy Policy</div>

						<div class="p space-50-bottom">At EaseGlobal, we prioritize the privacy of our visitors and users. This Privacy Policy outlines the types of personal information collected and how we use it. By accessing our website, you agree to the terms outlined in this policy.</div>

						<div class="h4 strong space-75-bottom">Information Collection and Use:</div>

						<div class="p space-50-bottom">We may collect personal information, including but not limited to names, email addresses, and contact details, voluntarily provided by users.</div>
						<div class="p space-50-bottom">We may automatically collect certain information, such as IP addresses, browser type, and referring pages, for analytics and website improvement purposes.</div>
						<div class="p space-50-bottom">Personal information collected may be used for communication, marketing, and providing requested services.</div>

						<div class="h4 strong space-75-bottom">Cookies:</div>

						<div class="p space-50-bottom">Our website may use cookies and similar tracking technologies to enhance user experience and analyze website usage.</div>
						<div class="p space-50-bottom">Users have the option to disable cookies through their browser settings; however, this may affect website functionality.</div>

						<div class="h4 strong space-75-bottom">Third-party Links:</div>

						<div class="p space-50-bottom">Our website may contain links to third-party websites. Please note that we are not responsible for the privacy practices or content of these websites.</div>

						<div class="h4 strong space-75-bottom">Data Security:</div>

						<div class="p space-50-bottom">We implement appropriate security measures to protect personal information from unauthorized access, alteration, or disclosure.</div>
						<div class="p space-50-bottom">However, no method of transmission over the internet or electronic storage is 100% secure; therefore, we cannot guarantee absolute security.</div>

						<div class="h4 strong space-75-bottom">Data Retention:</div>

						<div class="p space-50-bottom">We retain personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless otherwise required by law.</div>

						<div class="h4 strong space-75-bottom">Changes to Privacy Policy:</div>

						<div class="p space-50-bottom">We reserve the right to update or modify this Privacy Policy at any time. Any changes will be reflected on this page with a revised effective date.</div>

						<div class="h4 strong space-75-bottom">Contact Us:</div>

						<div class="p space-50-bottom">For questions or concerns regarding this Privacy Policy, please contact us at <a href="mailto:hello@ease.global" target="_blank">hello@ease.global</a>.</div>
						<div class="p space-50-bottom">By using our website, you acknowledge that you have read and understood this Privacy Policy. It is your responsibility to review this policy periodically for updates or changes.</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Privacy Section -->


		<!-- Sample Section -->
		<section id="sample_section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->



{% include 'parts/footer.liquid' %}
