{% include 'parts/header.liquid' %}



		<!-- Terms Section -->
		<section id="terms_section" class="terms-section space-200-top-bottom">
			<div class="container">
				<div class="row">
					<div class="columns small-12 medium-10 medium-offset-1 large-8 large-offset-2">
						<div class="h1 strong space-75-bottom">Terms &amp; Conditions</div>
						
						<div class="p space-50-bottom">Please read these Terms & Conditions carefully before using the EaseGlobal website operated by Ease Global Pvt Ltd.</div>

						<div class="p space-50-bottom">By accessing or using the website, you agree to be bound by these Terms. If you disagree with any part of the terms, you may not access the website.</div>

						<div class="h4 strong space-75-bottom">Intellectual Property:</div>

						<div class="p space-50-bottom">The content, logos, and trademarks displayed on the website are the property of EaseGlobal and are protected by intellectual property laws. You may not use or reproduce any content without prior written consent.</div>

						<div class="h4 strong space-75-bottom">Use of Website:</div>

						<div class="p space-50-bottom">You agree to use the website for lawful purposes only and not to violate any applicable laws or regulations.</div>
						<div class="p space-50-bottom">You may not engage in any activity that disrupts or interferes with the functioning of the website or its servers.</div>

						<div class="h4 strong space-75-bottom">Disclaimer:</div>

						<div class="p space-50-bottom">The information provided on the website is for general informational purposes only. We make no warranties about the accuracy, reliability, or completeness of this information.</div>
						<div class="p space-50-bottom">We reserve the right to modify, suspend, or discontinue any aspect of the website at any time without prior notice.</div>

						<div class="h4 strong space-75-bottom">Limitation of Liability:</div>

						<div class="p space-50-bottom">EaseGlobal shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your use of the website or any content provided therein.</div>
						<div class="p space-50-bottom">We are not responsible for any loss or damage resulting from the use of third-party websites linked to our website.</div>

						<div class="h4 strong space-75-bottom">Indemnification:</div>

						<div class="p space-50-bottom">You agree to indemnify and hold EaseGlobal harmless from any claims, damages, losses, or expenses arising out of your use of the website or any violation of these Terms & Conditions.</div>
						<div class="h4 strong space-75-bottom">Governing Law:</div>

						<div class="p space-50-bottom">These Terms & Conditions shall be governed by and construed in accordance with the laws of India, without regard to its conflict of law provisions.</div>

						<div class="h4 strong space-75-bottom">Changes to Terms & Conditions:</div>

						<div class="p space-50-bottom">We reserve the right to update or modify these Terms & Conditions at any time without prior notice. Any changes will be effective immediately upon posting on the website.</div>

						<div class="h4 strong space-75-bottom">Contact Us:</div>

						<div class="p space-50-bottom">If you have any questions or concerns regarding these Terms & Conditions, please contact us at <a href="mailto:hello@ease.global" target="_blank">hello@ease.global</a>.</div>
						<div class="p space-50-bottom">By using the EaseGlobal website, you acknowledge that you have read, understood, and agree to be bound by these Terms & Conditions.</div>

					</div>
				</div>
			</div>
		</section>
		<!-- END: Terms Section -->


		<!-- Sample Section -->
		<section id="sample_section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->



{% include 'parts/footer.liquid' %}
